<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<title>Music Management Systemk</title>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<br><br><br><br>
<form action="/upload_song_form" method="get">
<input type="submit" value = "Add New Song"/>
</form>
<br><br><br>
<table>
    <tr><td>Album</td><td>Title</td><td>Artist</td></tr>
{% for item in items %}
<TR>
    <TD>{{item.album}}</TD>
    <TD>{{item.title}}</TD>
    <TD>{{item.artist}}</TD>

    <td>
        <form action="/delete/{{item.uuid}}" method="post">
            <input button type="submit" value = "Delete"/>
        </form>
    </td>
 </TR>
{% endfor %}
</table>
</body>
</html>