<!doctype html>
<html>
<title>Music Management System</title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container" align="center">
<h1> Music Management Portal</h1>
<form action="/search" method="post">
    Enter Album/Title/Artist
    <input type="text" title="E.g. lga should work for Alga Yagnik. Presence of Special characters will be treated as security violation" size="50" name="search" value = "{{search_text}}" />
    <input type="submit" value = "Search"/>
</form>
{% if no_of_songs is eq 0 %}
    <h4>No of Songs Found</h4>
    <form action="/upload_song_form">
        <input type="submit" value = "Upload New Song"/>
    </form>
{% endif %}
{% if no_of_songs is gt 0 %}
    <h4>Songs Found : {{no_of_songs}}</h4>
    <table class="table table-striped">
        <tr>
            <td width="25%">Album</td>
            <td width="25%">Title</td>
            <td width="25%">Artist</td>
            <td colspan="4">
                <form action="/upload_song_form">
                    <input type="submit" value = "Upload New Song"/>
                </form>
            </td>
        </tr>
{% for item in items %}
<tr>
    <td>{{item.album}}</td>
    <td>{{item.title}}</td>
    <td>{{item.artist}}</td>

    <td>
        <form action="/delete/{{item.uuid}}" method="post">
            <input button type="submit" value = "Delete"/>
        </form>
    </td>
    <td>
        <form action="/download/{{item.uuid}}" method="get">
            <input button type="submit" value = "Download"/>
        </form>
    </td>
     <td>
        <form action="/play/{{item.uuid}}" method="get">
            <input button type="submit" value = "Play"/>
        </form>
    </td>
    <td>
        <form action="/share/{{item.uuid}}" method="get">
            <input button type="submit" value = "Share"/>
        </form>
    </td>
 </tr>
{% endfor %}
{% endif %}

</table>
</div>
</body>
</html>