<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<div class="container" align="center">
<body>
<h1> Music Management Portal </h1>
<h2>Album : {{ album }} </h2>
<h2>Title : {{ title }} </h2>
<h2>Artist : {{ artist }} </h2>
<br><br><br>
Please click Play button as chromium browsers are not supporting auto play
<br><br>
<audio controls>
  <source src="{{ url_for('static', filename= filename) }}" type="audio/mpeg">
</audio>
<br><br><br>
<a href="/home"> Go to Song Catalogue</a>
</body>
</div>
</html>