<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<div lass="container" align="center">
<body>
<h1> Music Management Portal - Security Violation</h1>
<h3> Since it is a demo application, only basic security violations are handled.</h3>
<h3> Few special characters are found in the request. Processing is stopped fearing SQL Injection</h3>
<a href="/home"> Go to Song Catalogue</a>
</body>
</div>
</html>