<html data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container" align="center">
<h1> Music Management Portal</h1><br>
<h2 class="text-warning"> Security Violations </h2>
<h3> Since it is a demo application, only basic security violations are handled.</h3>
<h3> In the Last request few special characters are found in the request.</h3>
<h3>Processing is stopped fearing SQL Injection</h3>
<a href="/home"> Go to Song Catalogue</a>
</body>
</div>
</html>