<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<title>Music Management Portal</title>
<body>
<div align="center" class = "container">
 <h1> Music Management Portal</h1>
 <h2> Sharing Link for Public Consumption</h2>
    Please share the following URL. <br> <i>{{ url }} </i>
<br><br><br>
<a href="/home"> Go to Song Catalogue</a>
</div>
</body>
</html>