<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song Upload</title>
</head>
<body>


<div align="center">
     <h1> Music Management Portal</h1>
     <h2>Upload MP3 File</h2>
     <h3> {{error_message}}</h3>
  <form action="/upload_song" enctype="multipart/form-data" method="POST">
    Album:  <input type="text" name="album" size="50"/> <br><br>
    Title:  <input type="text" name="title" size="50"/> <br><br>
    Artist: <input type="text" name="artist" size="50"/> <br><br>
      <input type="file" id="songFile" name="filename" accept=".mp3"> <br><br>
      <input type="submit" value = "Upload"> &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/home"> Go to Song Catalogue</a>
  </form>
</div>


</body>
</html>